    /* limpar formatação padrão */
    
   
    
    body{
        font-size: 1em;
        font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
        background-color: #e6e6e6;
        margin: 0px;
        padding: 0px;
    }
    
    /* layout */
    
    #area-cabecalho{
        background-color: #f7b600;
        padding: 20px;
        text-align: center;
        font-size: large;
    }
   
    #area-principal{
        width: 920px;
        margin: 0 auto;
        padding: 15px;
    }
    

    #area-postagens{
        width: 660px;
        float: left;
    
    }
  
    .postagem{
        background-color: #FFF;
        padding: 20px ;
        margin: bottom 20px;
        
    }
    .conteudo-lateral{
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }
    
    #area-lateral{
        width: 240px;
        float: right;
        position: absolute;
        top: 147px;
        right: 145px;

        
    }
    #area-lateral2{
        width: 240px;
        float: right;
        position: absolute;
        top: 450px;
        right: 145px;

        
    }
    
    #area-rodape{
        background-color: #CCC;
        clear: both;
        padding: 15px;
        text-align: center;
        font-size: large;
    }


    /* menu */
    
    .branco {
        color: #FFF;
    
    }
    
    a {
        text-decoration: none;
    }
    #area-cabecalho a:link, #area-cabecalho a:visited {
        color: #FFF;

    } 
    #area-cabecalho a:hover {
        color: #f7b600;
        background: #FFF;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        text-decoration: none;
    }
    
    a:link, a:visited {
        color: #f7b600;

    } 
    a:hover {
       text-decoration: underline;
    }
    /* formatações geral */
    h1 {
        color: #4e4e4e;     /*cor do texto*/
        font-size: 2,5em;
        
    }
   
    h2 {
        color: #f7b600;     /*cor do texto*/
    }
    h3 {
        color: #565656;  /*cor do texto*/
        background: #CCC;
        padding: 5px;    
    }

    .data-postagem {
        font-size: 0.8em;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: block;


    }
   
    .texto-postagem {
        font-size: 1.2em;
        line-height: 1.5em;
        color: #4e4e4e;     /*cor do texto*/
        
    }
